@import '../../Style/variable.scss';

#achivement{
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center
}

.achivement{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 80%;
        &_title{
            margin-bottom: 100px;
    }
}
.achivement h3{
    border-bottom: 2px solid black;
}

.achivement-content{
    display: grid;
    gap: 50px;
    padding-bottom: 100px;
    width: 100%;


        &__title{
            margin: 50px auto;
            width: 100%;
        }
        &__text{
            background-color: $color-secondary;
            font-size: 1.5em;
            font-weight: 300;
            display: grid;
            width: 90%;
            text-align: center;
            padding: 20px 30px;
            margin: 5px;
            gap: 30px;
            justify-content: center;
            line-height: 1.5;
            color:black; ;
            border-radius: 15px;
            letter-spacing: 1px;
            justify-items: center;
        }        
}
.tools{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

        &-title{
            display: grid;
    justify-content: center;
    align-items: center;
        }

        &__text{
            img{
                font-size: 50px;
            }
        }
}

.tools{
    display: grid;
    width: 100%;
    height: 100%;
}

/* .tools-title{
    font-size: 2em;
    padding-bottom: 5px;
} */

.tools-text{
    display: flex;
    gap: 50px;
    height: 100%;
    width: 100%;
}

.tools-text img {
    width: 100%;
    height: 100%;



}

.tools-text svg {
    width: 100%;
    height: 100%;  
}


.icon-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.icon-name{
    padding: 7%;
    background-color: $background-footer;
    border-radius: 15px;
    color: $color-secondary;
    font-size: 1em
}


.react-icon {
    color: #357da1;
}

.sass-icon {
    color: rgb(207, 100, 154);
}
.node-icon{
    color: rgb(104, 159, 99);
}
.icon-JavaScript {
    color: #fbbc04;
}
