@import '../../Style/mixins.scss';

#contact {
    display: grid;
    gap: 50px;
    border-bottom: 2px solid $color-primary ;
}


.contact-me {
    @include flex-center;
    margin-bottom: 42px;
    gap: 50px;
    
    
}
.email-link {
    @include flex-center;
    gap: 20px;
    text-transform: lowercase;
    height: 100%;
    width: 100%;
    font-size: 30px;
    
}
.contact-img {

color: $background-footer;
}




