@import '../../Style/mixins.scss';

header nav ul {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px; 
  @include media-min("tablet-up") {     
    gap: 30px;
  }    
}

header nav ul li  {
  text-decoration: none;
  &:hover {
    transform: scale(1.2);
    transition: transform 0.4s cubic-bezier(0.23,1.83,0.42,1.19);
  }
}

#navbar {
  background-color: $color-primary;
  border-radius:  0px 0px 15px 15px ;
  box-shadow: 10px 5px 5px rgb(87, 85, 85);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;  
  @include media-min("tablet-up") {   
    justify-content: center;
    width: 100%;    
  } 
}

.fixed-nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;  
  z-index: 1000;
  border-radius: 15px;
  @include media-min("tablet-up") {     
    gap: 30px;
  } 
}

.nav_bottom {
  text-decoration: none;
  color: $color-primary;
  padding: 5px;
  width: 100%;
  display: flex; 
  align-items: center; 
  justify-content: flex-end;
  flex-direction: row; 
  
  &:hover {
    animation: rotateBorderColor 2s linear infinite;
  }

  @include media-min("tablet-up") {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 0;
    width: auto;
  }
}

.nav-text {
  padding: 10px;
  color: $color-secondary;
  @include media-min("tablet-up") {
    display: none; 
  }
}

.nav-icon {
  color: rgb(102, 101, 104);
}

.main-nav {
  display: flex;
  flex-direction: column-reverse;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat; 



  &.scrolled {
    .header-container {
      color: $color-secondary;
    }
  }
}
