

$color-primary : #000;
$color-secondary :  #fff;
$color-txt : #FF6060;
$color-border : #55cccc;
$color-logo : rgba(180, 162, 180, 0.863);
$color-bgd-btm: rgba(238, 231, 231, 0.692);
$color-border-bottom:rgba(121, 118, 118, 0.637);
$background-color-bottom:rgb(139, 231, 231);
$color-icon: rgba(51, 83, 132, 1);
$background-lin:linear-gradient(142deg, (rgba(2, 0, 36, 1) 0, rgba(51, 83, 132, 1)) 65%, rgba(28, 135, 159, 1) 100%);;

// background du footer
$background-footer : #000;

// background du texte collapse
$color-collapse : #F7F7F7;

// background de la gallery
$gallery: #F6F6F6;

// background image
$background-img: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);;

$dark: brightness(0.8);


// Variables pour les tailles de police
$font-size-tel:12px;
$font-size-min: 14px;
$font-size-small: 18px;
$font-size-medium: 24px;
$font-size-large: 36px;
$font-size-max: 48px;

// Variables pour le poids de la police
$font-weight-small: 400;
$font-weight-medium: 500;
$font-weight-large: 700;

