@import './style//variable.scss';

i {
  padding-right: 10px;
}

ul li {
  list-style: none;
}
h3 {
  text-decoration: none;
}
* {
  color: $color-primary; 
  /* font-family: "Roboto", sans-serif; */
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  
}


h1 {
  font-size: 3.5em;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid black; 
}

li {
  font-size: 1.5em;
}

html {
  scroll-behavior: smooth;
}
html body {  
    
  
    margin: 0;
}

html body main section {
  padding-left: 20px;
  padding-right: 20px;
}

.main_container {
  background-image: url(../public/Design/backgroud/vecteezy_gray-painted-background_28292199.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
}


ul,li,h1,h3,p,span{
  color: black;
}
