@import './Style/mixins.scss';

i {
  padding-right: 10px;
}

ul li {
  list-style: none;
}
h3 {
  text-decoration: none;
}
* {
  /* color: $color-primary; */ 
  /* font-family: "Roboto", sans-serif; */
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
  
}
a {
  text-decoration: none;
}

h1 {
  font-size: 3.5em;
  text-align: center;
    @include media-min("tablet-up"){
      font-size: 3em;
      } 

    @include media-min("phone-down"){
      font-size: 1.5em;
      } 
}


h2 {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid black; 
  @include media-min("tablet-up"){
    font-size: 2em;
    } 
    @include media-min("phone-down"){
      font-size: 1.5em;
      } 
}



h3{
  font-size: 2em;
  text-align: center;
  padding-bottom: 5px; 
  @include media-min("tablet-up"){
    font-size: 1.5em;
    } 
}

li, p, .fa-solid {
  font-size: 1.3em;
  @include media-min("tablet-up"){
    font-size: 1em ;
    } 
  
}


html {
  scroll-behavior: smooth;
}
html body {  
    
  
    margin: 0;
}

html body main section {
  padding-left: 20px;
  padding-right: 20px;
}

.main_container {
  background-image: url(../public/Design/backgroud/vecteezy_gray-painted-ba_NhQpuyr.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
}


ul,li,h1,h3,p,span{
  color: black;
}
